.popular{
    margin-bottom: 33px;
    h3{
        color: #B30733;
        margin-right: 15px;
    }
    .line{
        border: 1px solid $secondary-color;
        width: 100%;
        height: 1px;
    }
}
.popular-food{
    margin-bottom: 88px;
}